* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  font-size: 62.5%;
}

body {
  display: flex;
  background-color: #000;
  height: 100vh;
  width: 100vw;
}

/* Slider */
.slider {
  position: relative;
  min-width: 980px;
  margin: auto;

  border-radius: 16px;
  box-shadow: 0 2px 20px rgba(255, 255, 255, 0.3);

  overflow: hidden;
}

.slide-container {
  display: flex;
  transition: transform ease 0.5s;
}

.slide-img {
  width: 100%;
  padding-top: 50%;

  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  flex-shrink: 0;
}

/* Button */
.prev-btn {
  position: absolute;
  top: 50%;
  left: 0;

  transform: translateY(-50%);
  z-index: 1;
}
.next-btn {
  position: absolute;
  top: 50%;
  right: 0;

  transform: translateY(-50%);
  z-index: 1;
}

.next-btn > i,
.prev-btn > i {
  font-size: 2.4rem;
  padding: 16px;
  border-radius: 50%;
  color: #fff;
  background-color: transparent;

  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
  transition: all linear 0.3s;
  cursor: pointer;
}

.next-btn:hover > i,
.prev-btn:hover > i {
  background-color: rgba(0, 0, 0, 0.3);
}

/* Dots */
.dots {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);

  display: flex;
  z-index: 1;
}

.dots > label {
  padding: 5px 24px;
  border-radius: 5px;
  background-color: #fff;
  opacity: 0.4;

  transition: opacity linear 0.2s;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
  cursor: pointer;
}

.dots label ~ label {
  margin-left: 8px;
}

.dots input:checked + label,
.dots label:hover {
  opacity: 1;
}

.dots input[name="dot"] {
  display: none;
}
